$topHeight: 60px;
$btmHeight: 60px;

$inputHeight: 40px;

.container {
    height: 100vh;

    .top {
        height: $topHeight;
    }

    .content {
        height: calc(100vh - $topHeight - $btmHeight);
        display: flex;
        justify-content: center;

        .inputWrapper {
            margin-top: 100px;
            width: 30%;
            height: $inputHeight;

            .inputItem {
                height: $inputHeight;

                .ant-input-suffix {
                    cursor: pointer;
                }
            }
        }
    }

    .btm {
        height: $btmHeight;
        bottom: 0;
    }
}
